<table>
    <thead>
        <th>Code</th>
        <th>Customer</th>
        <th>Employee</th>
        <th>Type</th>
        <th>Signed Date</th>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
</table>
